
.AppContainer {
  padding: 24px;
  border-top: 1px solid rgba(0, 0, 0, .7);
}

button {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  width: 200px;
  height: 36px;
  /* text-decoration: none; */
  background: white;
  color: black;
  /* font-family: sans-serif; */
  /* font-size: 1rem; */
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

button:hover,
button:focus {
  background: lightgrey;
  border: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
