
.star-background {
  color:white;
  height: 4px;
  width: 60%;
  background: #e3e3e3;
  
  /* border: 1px solid black; */
  display: inline-block;
}

/* background-image: linear-gradient(to right, black, black 70%, rgb(227, 227, 227) 70%); */

.star-bar {
  background: rgba(0, 0, 0, .7);
  height: 4px;
}

.starbar-labels {
  vertical-align: middle;
  margin: 0 4px;
  font-size: 12px;
  width: 24px
}

.starbar-container {
  margin-bottom: 4px;
}

.review {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px;
}

.reviewTitle {
  margin-top: 10px;
  font-weight: bold;
}

.reviewBody {
  margin: 18px 0;
  padding: 18px 0;
  width: 100%;
  max-width: 500px;
  font-size: 13px;
}

